* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 85%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 100px;
}

.header > h1 {
  font-size: 2.5rem;
}

.git-logo {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.git-logo > p {
  font-size: 1.3rem;
}

.main-content {
  background-color: #dfe4eb;
  padding-inline: 100px;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-add {
  background-color: #0891b2;
  color: white;
  border: none;
  border-radius: 12px;
  height: 70px;
  width: 120px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.btn-add:hover {
  cursor: pointer;
  background-color: #0ba4ca;
  transition: 0.4s;
}

.card-grid {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card-grid > div {
  background-color: rgb(241, 241, 241);
  padding: 16px;
  text-align: center;
  border-radius: 12px;
}

.card-header > h3,
.card-body > h3 {
  margin: 5px;
}

.delete-button > button,
.status-button > button {
  background-color: #0891b2;
  margin: 8px;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 12px;
  height: 30px;
  width: 100px;
}

.delete-button > button:hover,
.status-button > button:hover {
  cursor: pointer;
  background-color: #0ba4ca;
  transition: 0.4s;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: white;
  width: 550px;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.modal-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-content {
  margin-top: 10px;
}

.form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#submit {
  background-color: #0891b2;
  color: white;
  border: none;
  border-radius: 12px;
  height: 50px;
  width: 100px;
  font-size: 1.2rem;
  font-weight: 700;
}

#submit:hover {
  cursor: pointer;
  background-color: #0ba4ca;
  transition: 0.4s;
}
